---
- name: "create a web directory"
  shell: mkdir $HOME/webs

- name: "Copy File to our Web Dir."
  copy:
    src: ../../../../artifact.tar.gz
    dest: ~/webs/

- name: "Unarchive backend"
  unarchive:
    src: ~/webs/artifact.tar.gz
    dest: $HOME/webs
    remote_src: yes

- name: "Run application with pm2"
  shell: |
      cd ~/webs
      npm install
      pm2 stop default 
      pm2 start npm -- start